BR2_STATIC_LIBS=y
BR2_GLOBAL_PATCH_DIR="${BR2_EXTERNAL_PERIDIO_AVOCADO_PATH}/patches"
BR2_PACKAGE_BUSYBOX_CONFIG="${PERIDIO_DEFCONFIG_DIR}/busybox.config"
# BR2_TARGET_ENABLE_ROOT_LOGIN is not set
# BR2_TARGET_GENERIC_GETTY is not set
BR2_ROOTFS_OVERLAY="${PERIDIO_DEFCONFIG_DIR}/rootfs_overlay"
BR2_ROOTFS_POST_IMAGE_SCRIPT="${PERIDIO_DEFCONFIG_DIR}/post-createfs.sh"
BR2_PACKAGE_FWUP=y
BR2_PACKAGE_UBOOT_TOOLS=y
# BR2_PACKAGE_IFUPDOWN_SCRIPTS is not set
# BR2_PACKAGE_URANDOM_SCRIPTS is not set
BR2_PACKAGE_UTIL_LINUX=y
BR2_PACKAGE_UTIL_LINUX_MOUNT=y
BR2_PACKAGE_UTIL_LINUX_LOSETUP=y
BR2_TARGET_ROOTFS_CPIO=y
BR2_TARGET_ROOTFS_CPIO_XZ=y
# BR2_TARGET_ROOTFS_TAR is not set
